#row{
    display: flex;
    flex-direction: column;
}
#row img{
    display: block;
    margin: auto;
}

#row div ul li a{
    padding: 10px 15px;
    font-size: 1.5rem;
}
#mid{
    height: 1200px;
}
#photos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}